<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="EndPointUri" value="https://glowing-waffle-db.documents.azure.com:443/" />
        <add key="PrimaryKey" value="" />
    </appSettings>
  <system.diagnostics>
    <switches>
      <add name="ClientSwitch" value="Verbose" />
    </switches>
    <sources>
      <source name="DocDBTrace" switchName="ClientSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="MyTextListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime,ProcessId,ThreadId" initializeData="C:\Users\levim\source\repos\CosmosDBTrace.txt"></add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>